<!-- <p id="notice"><%#= notice %></p>

<h1>Extension Of Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Year</th>
      <th>Rekomendasi perwakilan</th>
      <th>Persetujuan pemda or sekolah</th>
      <th>Sk mendikbud</th>
      <th>Surat persetujuan setneg</th>
      <th>Assessment</th>
      <th>Note</th>
      <th>Approved by school</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @extension_of_tasks.each do |extension_of_task| %>
      <tr>
        <td><%#= extension_of_task.teacher %></td>
        <td><%#= extension_of_task.year %></td>
        <td><%#= extension_of_task.rekomendasi_perwakilan %></td>
        <td><%#= extension_of_task.persetujuan_pemda_or_sekolah %></td>
        <td><%#= extension_of_task.sk_mendikbud %></td>
        <td><%#= extension_of_task.surat_persetujuan_setneg %></td>
        <td><%#= extension_of_task.assessment %></td>
        <td><%#= extension_of_task.note %></td>
        <td><%#= extension_of_task.approved_by_school %></td>
        <td><%#= link_to 'Show', extension_of_task %></td>
        <td><%#= link_to 'Edit', edit_extension_of_task_path(extension_of_task) %></td>
        <td><%#= link_to 'Destroy', extension_of_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Extension Of Task', new_extension_of_task_path %>
 -->