<div class="content mt-3">
<div class="row">
  <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-1">
           <div class="card-body pb-0">
               <div class="dropdown float-right"></div>
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>

       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-2">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-3">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-4">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->
  </div>
</div>
<%= render "layouts/filters", school: current_school %>

<div id="daftar_guru" class="waitme">
  <%= render "layouts/daftar_guru" %>
</div>
