
<%= render "layouts/filters", school: @school %>

<div id="daftar_guru">
  <%= render "layouts/daftar_guru" %>
</div>
<!-- No
Nama
PNS/Non PNS
Usia
Masa mengajar
Banyaknya perpanjangan
Masa berlaku
  {notif expiration}
Ceklis verifikasi SK mendikbud
Ceklis upload SK mendikbud
Ceklis verifikasi perpanjangan masa tugas
 -->