<!-- <p id="notice"><%#= notice %></p>

<h1>Sks</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Year</th>
      <th>Permohonan perwakilan</th>
      <th>Ijazah</th>
      <th>Sertifikat pendidik</th>
      <th>Nuptk</th>
      <th>Sk perwakilan</th>
      <th>Ktp or paspor</th>
      <th>Kk</th>
      <th>Cv</th>
      <th>Sk inpassing</th>
      <th>Biodata ln</th>
      <th>Form biaya</th>
      <th>Pernyataan</th>
      <th>Approved by school</th>
      <th>Approved by admin</th>
      <th>Note</th>
      <th>Sk for teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @sks.each do |sk| %>
      <tr>
        <td><%#= sk.teacher %></td>
        <td><%#= sk.year %></td>
        <td><%#= sk.permohonan_perwakilan %></td>
        <td><%#= sk.ijazah %></td>
        <td><%#= sk.sertifikat_pendidik %></td>
        <td><%#= sk.nuptk %></td>
        <td><%#= sk.sk_perwakilan %></td>
        <td><%#= sk.ktp_or_paspor %></td>
        <td><%#= sk.kk %></td>
        <td><%#= sk.cv %></td>
        <td><%#= sk.sk_inpassing %></td>
        <td><%#= sk.biodata_ln %></td>
        <td><%#= sk.form_biaya %></td>
        <td><%#= sk.pernyataan %></td>
        <td><%#= sk.approved_by_school %></td>
        <td><%#= sk.approved_by_admin %></td>
        <td><%#= sk.note %></td>
        <td><%#= sk.sk_untuk_guru %></td>
        <td><%#= link_to 'Show', sk %></td>
        <td><%#= link_to 'Edit', edit_sk_path(sk) %></td>
        <td><%#= link_to 'Destroy', sk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Sk', new_sk_path %>
 -->