.alert{
	ul{
		margin: 0;
	}
}

.user-area {
	p{
    height: 36px;
    margin: 0;
    line-height: 36px;
	}
	.user-avatar{
		margin-left: 8px;
	}
}
.header-menu{
	span{
		line-height: 40px;
	}
}
.alert{
  width: 97%;
  margin: auto;
  padding-left: 31px;
}
.required{
	color: #dc3545;
}
.lock{
	div, input, a:not([data-fancybox=gallery]){
		pointer-events:none;
		opacity: 0.8;
	}
}

[data-fancybox=gallery]{
	position: relative;
	z-index: 5;
	// cursor: zoom-in;
	// cursor: 
}
.no-overflow{
	overflow: hidden;
}
.fancybox-button.fancybox-button--share{
  display: none !important;
	
}
// a:visited {
// 	color: #000;
// }