.alert{
	ul{
		margin: 0;
	}
}

.user-area {
	a>div{
		float: left;
	}
	.text{
    height: 36px;
    margin: 0;
    line-height: 36px;
	}
	.text-icon{
		background: #e74c3c;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    // float: right;
    padding-left: 8.5px;
    margin-left: 4px;
	}
	.user-avatar{
		margin-left: 8px;
	}
}
.header-menu{
	span{
		line-height: 40px;
	}
}
.alert{
  width: 97%;
  margin: auto;
  padding-left: 31px;
}
.required{
	color: #dc3545;
}
.lock{
	input, select, textarea, .chosen-container{
		pointer-events:none;
		opacity: 0.8;
	}
	label{
		pointer-events:none;
	}
}

[data-fancybox=gallery]{
	position: relative;
	z-index: 5;
	// cursor: zoom-in;
	// cursor: 
}
.no-overflow{
	overflow: hidden;
}
.fancybox-button.fancybox-button--share{
  display: none !important;
	
}
// a:visited {
// 	color: #000;
// }
.table table td, .table table th{
	padding: 0.25rem;
	.btn{
		padding: .2rem .3rem
	}
}
.table{
	.btn{
			padding: .2rem .3rem
		}
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.card-header .card-title{
	text-transform: uppercase;
}